<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>wlcome to sho</h1>
<a href="/myapp/change_password_shop_get">change password</a>
<a href="/myapp/add_pet_get">Add </a>
<a href="/myapp/view_pets">view pets </a>
<a href="/myapp/view_profile_shop">view profile shop </a>
    <a href="/myapp/add_grooming_get">add_grooming </a>
<a href="/myapp/view_grooming">view_grooming </a>
<a href="/myapp/view_review_ratings">view review </a>
<a href="/myapp/view_grooming_booking">view_grooming_booking </a>
</body>
</html>