<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>wrlcom to admin home</h1>
<a href="/myapp/view_shop">View shop</a>
<a href="/myapp/view_cutomer">view cutomer</a>
<a href="/myapp/view_complaints">view_complaints</a>
<a href="/myapp/change_password_admin">change password</a>
<a href="/myapp/shop_Registration_get">shop registration</a>
<a href="/myapp/view_rating_review">view_rating_review</a>
<a href="/myapp/view_approved_and_rejected">view_approved_and_rejected</a>


</body>
</html>