<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reject</title>
</head>
<body>
   <div class="container">
       <h1>Reject Shop</h1>
        <table border="">
            <thead>
            <tr>
                <th>Shop Name</th>
                <th>Email</th>
                <th>Phone_No</th>
                <th>Place</th>
                <th>Post</th>
                <th>Pin</th>
                <th>Licence No</th>
                <th>Shop Image</th>
                <th>Owner Name</th>
                <th>Owner Profile</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
   </div>
</body>
</html>